<igx-navbar  [title]="title" class="navbar navbar-expand-lg navbar-light" actionButtonIcon="menu" (action)= "drawer.toggle()">
   <igx-icon name="add" click="onClickAdd()" ></igx-icon> 
</igx-navbar>

<igx-nav-drawer #drawer (pinThreshold)="true" width="200">
  
  <div class="ig-drawer-content">
    <ng-template igxDrawer>
      <nav class="nav"> 
        <span class="nav-item-header">Browse docs</span>
       
          <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="/grid1" (click)="drawer.close();">
            <igx-icon fontset="material" name="home"></igx-icon>
            <span>Grid1</span>
          </span>
          <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="/grid2" (click)="drawer.close();">
            <igx-icon fontset="material" name="Browse"></igx-icon>
            <span>Grid2</span>
          </span>
          <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="/grid3" (click)="drawer.close();">
            <igx-icon fontset="material" name="settings"></igx-icon>
            <span>Grid3</span>
          </span>
          <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="/grid4" (click)="drawer.close();">
            <igx-icon fontset="material" name="person"></igx-icon>
            <span>Grid4</span>
          </span>
      </nav>
      
    </ng-template>
  </div>
</igx-nav-drawer>
<router-outlet />
