<igx-grid [data]="data" height="500px" width="100%" >
  <igx-column field="ID" header="ID" width="100px" editable="true" > 
    <!-- <ng-template igxCellEditor let-cell="cell"> 
        <label for="ID">
            <input type="number" id="ID" (ngModel)="cell.editValue" />
        </label> 
    </ng-template>  -->
 </igx-column>
  <igx-column field="Name" header="Name" width="200px" editable="true">
    <!-- <ng-template igxCellEditor let-cell="cell"> 
        <label for="Name">
            <input type="" id="Name" (ngModel)="cell.editValue" />
        </label> 
    </ng-template>  -->
  </igx-column>
  <igx-column field="Age" header="Age" width="100px" editable="true" >
    <!-- <ng-template igxCellEditor let-cell="cell"> 
        <label for="ID">
            <input type="number" id="ID" (ngModel)="cell.editValue" />
        </label> 
    </ng-template>  -->
  </igx-column>
</igx-grid>
